.card {
    width: 15rem;
    transition: transform 0.3s ease-in-out;
    margin-top: 72px;
}

.card a{
    font-size: 14px;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1);
}

.flash-sale {
    display: flex;

}

.card-title{
    font-size: 15px;
}

.card-body {
    flex-direction: column;
    align-items: center;
}
