.site-footer {
    background-color: #0f0505;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    
  }
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  .social-icon a i{
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    margin-bottom: 5px;
}

.social-icon a:hover i{
    box-shadow: 0 0 10px #fff;
}

  .payment-methods {
  margin-top: 10px;
}

.payment-methods p {
  margin-bottom: 5px;
}

.payment-methods img {
  margin-right: 14px;
  height: 35px; 
}